@import url('https://fonts.googleapis.com/css2?');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body { 
    background: black;
    color: bisque;
    min-height: 100vh;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 600px;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a{
    font-size: 1rem;
    color: white;
    border: 2px solid aqua;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500px;
    margin-left: 35px;
    padding: 5px 12px;
    display: inline-block;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a:hover,
.navbar a.active {
    color: black;
    box-shadow: 0 0 1rem aqua;
    background: aqua;
}
section{
    min-width: 100vh;
}
#home {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(2, 21, 38);
    padding: 0; 
}
.home img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.home-content {
    max-width: 50%;
    margin-left: 100px;
}
.home-content h1{
    font-size: 55px;
    font-weight: 700px;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight .1s ease forwards;
    animation-delay: 1 s;
}
.home-content p{
    font-size: 16px;
    opacity: 0;
    animation: slideLeft .1s ease forwards;
    animation-delay: 1s;
}
.home-content h2{
    font-size: 35px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom .1s ease forwards;
    animation-delay: .5s;
}
.home-content h2:nth-of-type(2){
    margin-bottom: 25px;
    animation: slideTop .1s ease forwards;
    animation-delay: .5s;
}
.home-content h2 span{
    color: aqua;
}
.home-img {
    flex-shrink: 0;
}
.home-img img{
    max-width: 450px;
    height: 600px;
    opacity: 0;
    flex-direction:column;
    animation: zoomIn .1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50%;
    font-size: 23px;
    color: aqua;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft .1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.social-media a:hover {
    background: aqua;
    color: black;
    box-shadow: 0 0 20px aqua;
}
.btn {
    display: inline-block;
    padding: 12px 28px;
    background: aqua;
    border-radius: 40px;
    box-shadow: 0 0 10px aqua;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}
#About {
    padding-top: 6rem;
    background-color: rgb(3, 52, 110);
    height: 400px;
}
#About .container {
    padding: 0 0px;
}

#About svg{
    display: block;
    width: 100%;
    height: auto;
}
.profile h1{
    text-align: center;
    font-size: 20px;
}
#Skills {
    padding-top: 4rem;
    background-color: rgb(2, 21, 38);
    height: 610px;
}
.skills-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: rgb(2, 21, 38);
}
.skills-container h2{
    color: rgb(226, 226, 182);
}
.skill-card {
    width: 300px;
    margin: 20px;
    
  }
  .flip-card {
    background-color: transparent;
    width: 260px;
    height: 400px;
    perspective: 1000px;
    
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .flip-card-front img{
    width: auto;
    height: 150px;
    margin-top: 50%;
    justify-content: center;
    align-items: center;
    background-color: transparent;

  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color:rgb(110, 172, 218);
    color: rgb(226, 226, 182);
    border-radius: 6%;
  }
  
  .flip-card-back {
    background-color: rgb(3, 52, 110);
    justify-content: center;
    align-items: center;
    gap: 1px;
    display: grid;
    color: rgb(226, 226, 182);
    transform: rotateY(180deg);
    overflow: auto;
    border-radius: 6%;
    -ms-overflow-style: none;
     scrollbar-width: none;
  }
.flip-card-back h1{
    padding: 50px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    box-sizing: border-box;
}
.icon img{
        width: 50px;
        margin-bottom: 15px;
}
.flip-card-front p{
    color: rgb(226, 226, 182);
}

#Papper{
    width: 100%;
    background: linear-gradient(
        rgba(2, 21, 38, 0.5), /* Warna awal dengan transparansi */
        rgba(2, 21, 38, 0.5) 50%, /* Warna akhir dengan transparansi */
        rgba(2, 21, 38, 1)),
        url("Sertif/bg sertif.jpg");
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background image fixed in place */
    background-position: center; /* Centers the background image */
    background-size: cover;
}
.slider{
    height: 250px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slide-track{
    display: flex;
    width: calc(250px * 18);
    animation: scroll 6s linear infinite;

}
.slide-track:hover{
    animation-play-state: paused;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100%{
        text-replace: translateX(calc(-250px * 9));
    }
}
.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.slide img{
    width: 100%;
    height: 200px;
    transition: transform 1%;
}
img:hover{
    transform: translateZ(20px);
}
.slider::before,
.slider::after{
    background: linear-gradient(to right, rgb(2, 21, 38) 0%,
    rgba(255,255,255,0)100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
/* .carousel-inner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  } */
#Page {
    padding-top: 6rem;
    background-color: rgb(2, 21, 38);
    height: 500px;
}
.tengah {
    text-align: center;
    width: 100%;
}
.kolom{
    margin-bottom: 5%;
}
.tutor-list {
    padding: 10px;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor {
    width: 17%;
    margin: 0 auto;
}

.kartu-tutor img {
    width: 40%;
    border-radius: 50%;
    border: 3px solid aqua;
}

.kartu-tutor h1 {
    font-family: 'comic sans ms';
    font-weight: 800px;
    font-size: 25px;
    margin-top: 35px;
    text-align: center;
    color: #364f6b;
}
.kartu-tutor h1 p {
    font-family: 'comic sans ms';
    font-weight: 1000px;
    font-size: 25px;
    text-align: left;
    color: #364f6b;
}
#Contact{
width: 100%;
  background: rgb(2, 21, 38);
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgb(226, 226, 182);
}
.last {
    width: 100%;

}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color: rgb(226, 226, 182);
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
  }
  .container .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: rgb(226, 226, 182);
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
  }
  .right-side .button input[type="button"]{
    color: aqua;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
    background: aqua 3;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input[type="button"]:hover{
    background: rgb(3, 52, 110);
  }
  @media (max-width: 950px) {
    .container{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .container .content .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .container{
      margin: 40px 0;
      height: 100%;
    }
    .container .content{
      flex-direction: column-reverse;
    }
   .container .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container .content .left-side::before{
     display: none;
   }
   .container .content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(1);
    }
}